canvas {
    display: block;
    vertical-align: bottom;
}

#tsparticles {
    z-index: 1000;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.container {
    display: grid;
}

#fixed_content {
    grid-template-columns: 30% 70%;
    grid-template-rows: 20rem calc(100% - 20rem);
    height: 100%;
}

#weather_div {
    grid-area: 2 / 1 / 3 / 1;
}

#morgen {
    width: auto;
    height: 7rem;
}

#mittag {
    margin-top: 10px;
    width: auto;
    height: 7rem;
}

#abend {
    margin-top: 10px;
    width: auto;
    height: 7rem;
}

#dynamic_content {
    grid-area: 1 / 2 / 3 / 3;
    grid-template-columns: 100%;
    grid-template-rows: 100% 100% 100%;
    float: none;
    overflow-x: scroll;
    height: 100%;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.dynamic_content_child {
    scroll-snap-align: start;
    height: 100%;
}

#calendar {
    position: relative;
    width: 120px;
    height: 200px;
    left: 300px;
    bottom: 120px;
    text-align: center;
}

#calendar_year {
    position: absolute;
    bottom: 10px;
    left: 30%;
}

#time_span {
    position: relative;
    top: 4rem;
    font-size: 100px;
    left: 1rem;
    opacity: 0;
}

#krypto_data {
    margin-top: 20px;
}

.item_style {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}

iframe {
    width: 100%;
}
